body {
    background-image: url("../img/comercio.png");
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 9px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel .card {
    scroll-snap-align: start;
}
